apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  ports:
    - name: "auth-service"
      port: 3000
      targetPort: 3000
      protocol: TCP
  selector:
    app: auth-service
  clusterIP: None